body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 2% 15% 7%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 30px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

/* Title */

.title-heading {
  font-size: 4rem;
  line-height: 1.5;
}

#title {
  text-align: left;
}

/* Download Btns */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features */
#features {
  padding: 5% 15%;
  position: relative;
}

.feature-title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

.feature-box {
  padding: 10%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */

.testimonial-heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 15%;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px 50px;
}

/* Pricing */

.section-heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

.price-type {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

#pricing {
  padding: 100px;
}

.pricing-heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */

#cta {
  padding: 7% 15% 5%;
}

/* footer */

#footer {
  padding: 1% 2% 0;
}

.footer-icon {
  margin: 1%;
}

@media (max-width: 1050px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    z-index: 0;
    width: 60%;
    transform: rotate(0);
  }
}
